doctype html
html
  head
    title='Distributed Poker'
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href='/stylesheets/foundation.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet', type='text/css')
  body
    nav.row
      h1 Distributed Poker
    section#welcome.row
    section#poker-room.text-center
    script(src='/javascripts/libs/require.js' data-main='/javascripts/main')
