<p class="small-12 medium-6 small-centered columns">
  Planning poker is an consensus based technique used by agile teams 
  to estimate the effort required to complete defined goals.
</p>
<p class="small-12 medium-6 small-centered columns">
  This implementation can be used by distributed teams, and is built 
  using <a href="http://nodejs.org/">Node JS</a>, <a href="http://backbonejs.org/">
  Backbone</a> and <a href="http://socket.io/">Socket.IO</a>. The source code 
  is hosted on <a href="https://github.com/dannymilsom">GitHub</a> and all 
  contributions are welcomed.
</p>
<form id="login" class="small-12 medium-6 small-centered columns text-center">
  <input name="email" type="email" required="required" placeholder="youremail@example.com" class="small-12 columns"/>
  <select name="role" required="required" class="small-12 columns">
    <option value="player">Player</option>
    <option value="observer">Observer</option>
  </select>
  <input type="submit" value="Join" class="button success small-12 columns"/>
</form>
