body {
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #FFF;
  background-image: url('/images/footer_lodyas.png');
  padding: 50px;
  color: #FFF;
}

h1 {
  text-align: center;
  font-weight: 700;
  color: #FFF;
  font-family: 'PT Sans Narrow', sans-serif;
}

a { color: #00B7FF; }

p {
  text-align: center;
  font-size: 18px;
}

.row {
  max-width: 992px;
}

.button {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

.hidden {
  display: none;
}

.card {
  background-color: #FFF;
  height: 75px;
  width: 60px;
  border-radius: 2px;
  display: inline-block;
  font-size: 44px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.blurry-text {
  color: transparent;
  text-shadow: 0 0 30px rgba(0,0,0,2.5);
}

.points-btn {
  display: inline-block;
  width: 70px;
  height: 100px;
  background-color: #008cba;
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  padding-top: 20px;
  margin: 10px;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.points-btn:first-child {
  margin-left: 0;
}

#users ul, #users li, nav li {
  list-style-type: none;
  margin-left: 0;
  margin: 10px;
}

#users img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  vertical-align: top;
  margin-right: 20px;
}

#users span {
  display: block;
}

#reveal-points {
  margin-right: 20px;
}

#results li {
  list-style-type: none;
}

#feed {
  list-style-type: none;
  border-top: 1px solid #FFF;
  padding: 20px 0;
}

#options {
  padding-bottom: 20px;
}

#login input[type=email] {
  font-size: 14px;
  padding: 10px;
  text-align: center;
  display: block;
}

#login input[type=submit] {
    margin: 2px 0 0;
}

#login input[type=submit]:hover {
  text-decoration: underline;
}

#agreement {
  color: #4a831c;
  font-size: 40px;
  font-weight: 700;
}

#disagreement {
  color: #f08a24 ;
  font-size: 40px;
  font-weight: 700;
}

.warning {
  color: #f08a24;
  display: block;
}

.warning a {
  text-decoration: underline;
  color: #f08a24;
}

