/***** Basic Elements *****/

body {
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #FFF;
  background-image: url('/images/footer_lodyas.png');
  color: #FFF;
}

h1 {
  text-align: center;
  font-weight: 700;
  color: #FFF;
  font-family: 'PT Sans Narrow', sans-serif;
}

a { color: #00B7FF; }

p {
  text-align: center;
  font-size: 18px;
}

select, input {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/***** Util Classes *****/

.row { max-width: 992px; }

.hidden { display: none; }

.inner-padding { padding: 0 2px 5px; }

/***** Distribted Poker Elements *****/

.card {
  background-color: #FFF;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  display: inline-block;
  font-size: 26px;
  color: #000;
  text-align: center;
}

.card.blurry-text {
  color: transparent;
  text-shadow: 0 0 30px rgba(0,0,0,2.5);
  font-weight: 700;
}

.points {
  display: inline-block;
  width: 100%;
  min-width: 35px;
  height: 70px;
  background-color: #008cba;
  font-size: 26px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 2px 0 0;
}

#users ul, #observers ul {
  list-style-type: none;
  margin: 10px 0;
}

#users img {
  border-radius: 2px;
  width: 40px;
  height: 40px;
  vertical-align: top;
  margin: 0 10px 5px 0;
}

#users span { display: block; }

#observers img {
  height: 40px;
  width: 40px;
  border-radius: 2px;
}

#observers li { display: inline-block; }

#reveal-points {
  padding: 5px;
  margin-bottom: 10px;
}

#clear-points {
  padding: 5px;
  margin-bottom: 10px;
}

#feed {
  list-style-type: none;
  border-top: 1px solid #FFF;
  padding: 20px 0;
  font-size: 16px;
  margin-top: 10px;
}

#login { margin-bottom: 40px; }

#login input[type=submit] { margin: 0}

#login input[type=submit]:hover { text-decoration: underline; }

#login input[type=email], #login select{
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 0 5px;
}

#agreement {
  color: #4a831c;
  font-size: 30px;
}

#disagreement {
  color: #f08a24;
  font-size: 30px;
}

.warning {
  color: #f08a24;
  display: block;
}

.warning a {
  text-decoration: underline;
  color: #f08a24;
}

.button {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

#action-options { margin-top: 10px; }

/***** Media Queries *****/

@media(min-width: 641px){
  #agreement {
    font-size: 40px;
  }
  #disagreement {
    font-size: 40px;
  }
  #feed {
    margin-top: 0;
  }
  #reveal-points {
    margin: 0 10px 5px 0;
  }
  #clear-points {
    margin: 0 0 5px 0;
  }
  #players img {
    width: 50px;
    height: 50px;
    margin: 0 20px 10px 0;
  }
  .card {
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
  .points {
    height: 80px;
    padding-top: 20px;
    font-size: 26px;
    margin: 10px 10px 10px 0;
  }
  .inner-padding {
    padding: 0 10px 10px;
  }
}

@media(min-width: 1025px){
  #feed {
    margin: 0 100px;
  }
  #reveal-points {
    padding: 10px;
    margin: 0 20px 10px 0;
  }
  #clear-points {
    padding: 10px;
    margin: 0 0 10px 0;
  }
  .points {
    height: 90px;
    font-size: 32px;
  }
}

@media(min-width: 1441px){
  #feed {
    margin: 0 400px;
  }
  #players img {
    width: 60px;
    height: 60px;
    margin: 0 20px 10px 0;
  }
  .card {
    width: 60px;
    height: 60px;
    padding-top: 3px;
  }
}
